# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.
# The variables can be loaded into the application using a library like python-dotenv.

#FLASK_ENV=testing
#DATABASE_URL=sqlite:///:memory:

#FLASK_ENV=development
#DATABASE_URL=sqlite:///dev.db

#FLASK_ENV=staging
#DATABASE_URL=postgresql://user:pass@template_db/template_staging
#OTHER_SERVICE_URL=http://other_service:5002

#FLASK_ENV=production
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#OTHER_SERVICE_URL=http://other_service:5001


