# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.
# The variables can be loaded into the application using a library like python-dotenv.

#FLASK_ENV=testing
#LOG_LEVEL=DEBUG
#DATABASE_URL=sqlite:///:memory:
#INTERNAL_AUTH_TOKEN=testing-interal-secret
#JWT_SECRET=testging-jwt_secret
#GUARDIAN_SERVICE_URL=None
#GUARDIAN_SERVICE_TIMEOUT=5
#STORAGE_SERVICE_URL=http://storage-service:5000
#STORAGE_REQUEST_TIMEOUT=30
#MAX_AVATAR_SIZE_MB=5
#USE_STORAGE_SERVICE=true

#FLASK_ENV=development
#LOG_LEVEL=DEBUG
#DATABASE_URL=sqlite:///dev.db
#INTERNAL_AUTH_TOKEN=develop-interal-secret
#JWT_SECRET=develop-jwt_secret
#GUARDIAN_SERVICE_URL=None
#GUARDIAN_SERVICE_TIMEOUT=5
#STORAGE_SERVICE_URL=http://storage-service:5000
#STORAGE_REQUEST_TIMEOUT=30
#MAX_AVATAR_SIZE_MB=5
#USE_STORAGE_SERVICE=true

#FLASK_ENV=staging
#LOG_LEVEL=DEBUG
#DATABASE_URL=postgresql://staging:password@db_service/identity_staging
#INTERNAL_AUTH_TOKEN=staging-interal-secret
#JWT_SECRET=staging-jwt_secret
#USE_GUARDIAN_SERVICE=Yes
#GUARDIAN_SERVICE_URL=http://guardian_service:5000
#GUARDIAN_SERVICE_TIMEOUT=5
#USE_STORAGE_SERVICE=Yes
#STORAGE_SERVICE_URL=http://storage-service:5000
#STORAGE_REQUEST_TIMEOUT=30
#MAX_AVATAR_SIZE_MB=5
#USE_STORAGE_SERVICE=true

#FLASK_ENV=production
#LOG_LEVEL=DEBUG
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#INTERNAL_AUTH_TOKEN=production-interal-secret
#JWT_SECRET=production-jwt_secret
#GUARDIAN_SERVICE_URL=http://guardian_service:5000
#GUARDIAN_SERVICE_TIMEOUT=5
#STORAGE_SERVICE_URL=http://storage-service:5000
#STORAGE_REQUEST_TIMEOUT=30
#MAX_AVATAR_SIZE_MB=5
#USE_STORAGE_SERVICE=true


