colorlog
structlog
python-dotenv
requests
Flask
flask-cors
flask-marshmallow
Flask-Migrate
flask-restful
Flask-SQLAlchemy
Flask-Mail
Flask-Limiter
marshmallow-sqlalchemy
psycopg2-binary
PyJWT
gunicorn
